accordion(close-others="false")
  accordion-group(ng-repeat="activity in activities")
    accordion-heading
      img(ng-src="{{activity.user.image}}" width="25" height="25")
      | &nbsp;{{activity.user.screenName}} が {{activity.list.length}} ステージをクリアしました
    div(ng-repeat="stageuser in activity.list")
      a(href="{{stageuser.stageNo|listLink}}") STAGE: {{stageuser.stageNo}}
      | をクリアしました
      .text-right {{stageuser.clearDate|jst}}
