<!-- オーバレイ -->
#kyouenView(style="position: initial; margin-top: 60px; margin-left: auto; margin-right: auto; display: none;" ng-show="opend")
  #stageno0
  #creator0
  canvas#canvas0
  a#kyouenButton.btn.btn-large.btn-primary 共円！！
  #dialog(style="display: none; width: 600px")
    #dialogMessage
