/* base */
*
	margin 0
	padding 0
	font-style normal
	font-weight normal
	font-size 100%

a
	text-decoration none

.clearfixafter
	display block
	clear both
	height 0px
	visibility hidden
	content "."

html, body
	height 100%

body
	padding-top 60px
	padding-bottom 40px

footer
	height 80px
	width 100%