/* create */
/*
 * ステージ
 */
#kyouenView {
	background: #eee;
	text-align: center;
	border: 3px solid #000;
	width: 630px;
	margin: 5px auto;
	padding: 5px;
}

/*
 * ダイアログ
 */
#dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	background: #eee;
	text-align: center;
	border: 3px solid #333;
	color: #333;
	font-size: 2em;
	height: 200px;
}

#notification {
	position: fixed;
	top: 15%;
	right: 0;
	background: #eee;
	background: rgba(238, 238, 238, 0.6);
	border-top: 2px solid #333;
	border-left: 2px solid #333;
	border-bottom: 2px solid #333;
	text-align: right;
	padding-right: 5px;
	padding-left: 10px;
	padding-bottom: 10px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
