{% extends 'layout.html' %}

{% block css_include %}
	<link type="text/css" rel="stylesheet" href="/css/application.css" />
{% endblock %}

{% block title %}
共円｜アプリ紹介
{% endblock %}
{% block head_title %}
｜アプリ紹介
{% endblock %}

{% block content %}
<article class="application_info">
	<h1><a
		href="https://market.android.com/details?id=hm.orz.chaos114.android.tumekyouen"
		target="_blank">詰め共円</a></h1>
	<div>
		<img src="/image/device-2011-07-30-235110.png" width="150px">
		<img src="/image/device-2011-07-30-235153.png" width="150px">
		<img src="/image/device-2011-07-30-235235.png" width="150px">
	</div>
	<div>
		<img src="/image/tumekyouenQRcode.gif">
	</div>
</article>

<hr>

<article class="application_info">
	<h1><a
		href="https://market.android.com/details?id=hm.orz.chaos114.android.kyouenchecker"
		target="_blank">共円チェッカー</a></h1>
	<div>
		<img src="/image/device-2011-07-18-235954.png" width="150px">
		<img src="/image/device-2011-07-18-235932.png" width="150px">
		<img src="/image/device-2011-07-18-235836.png" width="150px">
	</div>
	<div>
		<img src="/image/kyouen_QRcode.gif">
	</div>
</article>
{% endblock %}
