{% extends 'layout.html' %}

{% block css_include %}
	<link type="text/css" rel="stylesheet" href="/css/create.css" />
{% endblock %}
{% block script_include %}
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="/js/jquery.color.js"></script>
	<script src="/js/list.js"></script>
	<script src="/js/overlay.js"></script>
{% endblock %}

{% block title %}
共円｜ステージ作成
{% endblock %}
{% block head_title %}
｜ステージ作成
{% endblock %}

{% block script %}
<script type="text/javascript">
// 初期読み込み
$(function() {
	view = $("canvas.kyouenView").createKyouen({
		onChange: function(model) {
			if (model.hasStone('1')) {
				$('#reset_button').enableButton();
			}
		},
		onKyouen: function(model) {
			$('#send_button').enableButton();
		}
	});
	$('#reset_button').click(function() {
		view.reset();
		$(this).disableButton();
	});
	$('#send_button').click(function() {
		if ($('#name').val().length == '0') {
			alert('名前を入力してください。');
			return;
		}
		view.model.creator = $('#name').val();
		view.model.sendStage();
		view.hideDialog();
	});
});
</script>
{% endblock %}

{% block content %}
<div id="stages">
	<h2>ステージを作成できます。</h2>
	<div id="kyouenView">
		<canvas id="canvas0" width="600" height="600" data-stageno="0" data-stage="000000000000000000000000000000000000" data-size="6" data-creator="" data-clear="0" class="kyouenView"></canvas>
		<input id="reset_button" type="button" value="リセット" disabled="disabled" />
		<div id="dialog" style="display: none; width: 620px;">
			<div id="dialogMessage"></div>
			<label for="name">名前：</label>
			<input id="name" type="text" size="20" maxlength="20" />
			<input id="send_button" type="button" value="送信" disabled="disabled" />
		</div>
	</div>
</div>


{% if not user %}
	<!-- 通知領域 -->
	<div id="notification">
		ログインすることで<br>クリア履歴を保存出来ます<br>
		<a href="/page/login"><img src="/image/sign-in-with-twitter_0.png" width="80%"></a>
	</div>
{% endif %}
{% endblock %}
