{% extends 'layout.html' %}

{% block css_include %}
{% endblock %}

{% block script %}
{% endblock %}

{% block title %}
共円
{% endblock %}

{% block content %}
<!-- メインコンテンツ -->
<div class="container">
  <div class="jumbotron">
    <h1>共円</h1>
    <p>共円とは、４つの石を通る円のことです。<br>
    このページでは、盤上に置かれた石から共円を指摘する、「詰め共円」が多数登録されています。<br>
    ステージ一覧は <a href="/page/list.html" class="btn btn-mini btn-success">こちら »</a></p>
    <p>ログインすることでクリアしたステージ情報が保存出来ます。<br>
      <a href="/page/login" class="btn btn-primary btn-large">Sign in with twitter »</a>
    </p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>最新の登録</h2>
      <table class="table table-striped" style="width:100%">
        <tbody>
{% for r in recent %}
      <tr>
        <td>
          <a href="{{ r.stageNo|list_link }}">
            <span>STAGE:{{ r.stageNo }}</span>
          </a>
          <div class="creator text-right">created by {{ r.creator }}</div>
          <div class="date text-right">{{ r.registDate|jst }}</div>
        </td>
      </tr>
{% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h2>アクティビティ</h2>
{% for key, act in activity %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#collapse{{ key.screenName }}{{ loop.index0 }}">
            <img src="{{ key.image }}" width="25" height="25"> {{ key.screenName }} が {{ act|length }} ステージをクリアしました
          </a>
        </div>
        <div id="collapse{{ key.screenName }}{{ loop.index0 }}" class="panel-collapse collapse">
          <div class="panel-body">
          {% for a in act %}
          <div class="act_content">
            <a href="{{ a.stage.stageNo|list_link }}">STAGE:{{ a.stage.stageNo }}</a>をクリアしました
          </div>
          <div class="date text-right">{{ a.clearDate|jst }}</div>
          {% endfor %}
          </div>
        </div>
      </div>
{% endfor %}
    </div>
    <div class="span1"></div>
  </div>
</div>

{% endblock %}
