{% extends 'layout.html' %}

{% block css_include %}
	<link type="text/css" rel="stylesheet" href="/css/list.css" />
{% endblock %}
{% block script_include %}
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="/js/jquery.color.js"></script>
	<script src="/js/list.js"></script>
	<script src="/js/overlay.js"></script>
	<script src="/js/pager.js"></script>
{% endblock %}

{% block title %}
共円｜ステージ一覧
{% endblock %}
{% block head_title %}
｜ステージ一覧
{% endblock %}

{% block script %}
<script type="text/javascript">
function loadStage(stageNo, open) {
	$('#stages').html('Loading...');
	$.ajax({
		type: "POST",
		url: "/page/list",
		cache: false,
		dataType: "json",
		data: "index=" + stageNo,
		success: function(result) {
			var $stages = $('#stages').html('');
			var $ul = $('<ul />');
			$ul.appendTo($stages);
			for (var i = 0; i < result.length; i++) {
				var $li = $('<li />');
				$li.addClass('overlayKyouen');
				$li.appendTo($ul);
				var $stageno = $('<div />')
						.text('STAGE:' + result[i].stageNo)
						.addClass('stageno');
				$stageno.appendTo($li);
				var $creator = $('<div />')
						.addClass('creator')
						.text('created by ');
				$('<span />').text(result[i].creator)
						.appendTo($creator);
				$creator.appendTo($li);
				var $canvas = $('<canvas />').attr({
					id: 'canvas' + result[i].stageNo,
					width: '300',
					height: '300',
					'data-stageno': result[i].stageNo,
					'data-stage': result[i].stage,
					'data-size': result[i].size,
					'data-creator': result[i].creator,
					'data-clear': result[i].clear
				}).addClass('kyouenView');
				$canvas.appendTo($li);
			}
			$("canvas.kyouenView").kyouen();
			$(".overlayKyouen").overlayPlayableKyouen();
			if (open) {
				$('#canvas' + open).parent().click()
			}
		}
	});
}

// 初期読み込み
$(function() {
	loadStage({{ summary.index }}, {{ summary.open }});
});
</script>
{% endblock %}

{% block content %}
<div id="summary">
	登録件数:{{ summary.count }}
</div>
<div class="pager clearfix"
		data-size="{{ summary.count }}"
		data-index="{{ summary.index }}">
</div>
<div id="stages">
</div>
<div class="pager clearfix"
		data-size="{{ summary.count }}"
		data-index="{{ summary.index }}">
</div>

<!-- オーバレイ -->
<div id="kyouenView" style="position: initial; margin-top: 5px; margin-left: auto; margin-right: auto; display: none;">
	<div id="stageno0"></div>
	<div id="creator0"></div>
	<canvas id="canvas0"></canvas>
	<input id="kyouenButton" type="button" value="共円！！" />
	<div id="dialog" style="display: none; width: 600px">
		<div id="dialogMessage"></div>
	</div>
</div>

{% if not user %}
	<!-- 通知領域 -->
	<div id="notification">
		ログインすることで<br>クリア履歴を保存出来ます<br>
		<a href="/page/login"><img src="/image/sign-in-with-twitter_0.png" width="80%"></a>
	</div>
{% endif %}
{% endblock %}
