{% extends 'layout.html' %}

{% block css_include %}
	<link type="text/css" rel="stylesheet" href="/css/summary.css" />
{% endblock %}
{% block script_include %}
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
{% endblock %}

{% block title %}
共円｜登録データサマリ
{% endblock %}
{% block head_title %}
｜登録データサマリ
{% endblock %}

{% block script %}
<script type="text/javascript">
function loadCleared(stageNo, open) {
	$('#ranking').html('Loading...');
	$.ajax({
		type: "POST",
		url: "/page/ranking",
		cache: false,
		dataType: "json",
		success: function(result) {
			var $ranking = $('#ranking').html('');
			var $table = $('<table />');
			$ranking.append($table);
			$table.append($('<tr><th class="order">順位</th><th colspan="2" class="name">名前</th><th class="count">クリア数</th></tr>'));
			for (var i = 0; i < result.length; i++) {
				var $tr = $('<tr />');
				$table.append($tr);
				var $order = $('<td />').addClass('order').text((i + 1) + '位');
				$tr.append($order);
				var $image = $('<td />').addClass('image').append($('<img />').attr({
					src: result[i].image,
					width: '48px',
					height: '48px',
				}));
				$tr.append($image);
				var $name = $('<td />').addClass('name').text(result[i].screenName);
				$tr.append($name);
				var $count = $('<td />').addClass('count').text(result[i].clearStageCount);
				$tr.append($count);
			}
		},
	});
}
// 初期読み込み
$(function() {
	loadCleared();
});
</script>
{% endblock %}

{% block content %}
<article class="summary">
	<h1>クリアステージ数ランキング</h1>
	<div id="ranking">
	</div>
</article>
{% endblock %}