{% extends 'layout.html' %}

{% block css_include %}
{% endblock %}
{% block script_include %}
{% endblock %}

{% block title %}
共円｜ランキング
{% endblock %}

{% block script %}
<script type="text/javascript">
function loadCleared(stageNo, open) {
	$('#ranking').html('Loading...');
	$.ajax({
		type: "POST",
		url: "/page/ranking",
		cache: false,
		dataType: "json",
		success: function(result) {
			var $ranking = $('#ranking').html('');
			var $table = $('<table />').addClass('table').addClass('table-striped').addClass('table-bordered');
			$ranking.append($table);
			$table.append($('<thead><tr><th class="order">順位</th><th colspan="2" class="name">名前</th><th class="count">クリア数</th></tr></thead>'));
			var $tbody = $('<tbody />').appendTo($table);
			for (var i = 0; i < result.length; i++) {
				var $tr = $('<tr />');
				$tbody.append($tr);
				var $order = $('<td />').addClass('order').text((i + 1) + '位');
				$tr.append($order);
				var $image = $('<td />').addClass('image').attr('width', '50px').append($('<img />').attr({
					src: result[i].image,
					width: '48px',
					height: '48px',
				}));
				$tr.append($image);
				var $name = $('<td />').addClass('name').text(result[i].screenName);
				$tr.append($name);
				var $count = $('<td />').addClass('count').text(result[i].clearStageCount);
				$tr.append($count);
			}
		},
	});
}
// 初期読み込み
$(function() {
	loadCleared();
});
</script>
{% endblock %}

{% block content %}
<div class="container">
<article class="summary">
	<h2>クリアステージ数ランキング</h2>
	<div id="ranking">
	</div>
</article>
</div>
{% endblock %}