<!DOCTYPE html>
<html>
{% if False %}
<head>
<meta charset="UTF-8">
<title>テスト追加</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
$(function(){
	$('#submit_button').click(submit);
	$('#submit_all').click(submit_all);
})
function submit() {
	var size = $('#size').val();
	var data = $('#stage').val().replace(/(\n|\r)+/g, "");
	var name = $('#name').val();
	var data = [size, data, name].join(',');
	$('#data').val(data);
	$('#regist_form').submit();
}
function submit_all() {
	var datas = $('#stages').val().replace(/\r\n/g , '\n').split(/\n/g);
	for (var i = 0; i < datas.length; i++) {
		var data = datas[i];
		var send_data = {data: data};
		$.post('/kyouen/regist', send_data, function(data){
			$('#log').val($('#log').val() + '\n' + data);
		});
	}
}
</script>
</head>
<body>
<form
		action="/kyouen/regist"
		method="post"
		id="regist_form">
	<input type="hidden" id="data" name="data" value="" />

	<label for="size">サイズ</label>
	<input type="text" id="size" name="size" value="6" />
	<br />
	<label for="stage">ステージ</label>
	<textarea
			id="stage" name="stage"
			cols="20" rows="9"
			>000000
000000
000000
000000
000000
000000</textarea>
	<br />
	<label for="name">名前</label>
	<input type="text" id="name" name="name" value="no name" />
	<br />
	<input type="button" id="submit_button" value="送信" />
</form>
<hr>
<div>
	<textarea id="stages" name="stages"
			cols="80" rows="10"
	></textarea>
	<br />
	<input type="button" id="submit_all" value="一括送信" />
	<br />
	<textarea id="log" name="log"
			cols="80" rows="10"></textarea>
</div>
</body>
{% endif %}
</html>