@charset "utf-8";
/*
 * 文言
 */
h2 {
	font-size: 1.2em;
	color: #004C9A;
	text-decoration: underline;
	margin: 10px;
}
/*
 * ステージ
 */
div#kyouenView {
	background: #eee;
	text-align: center;
	border: 3px solid #000;
	width: 620px;
	margin: 5px auto;
	padding: 5px;
}
div#kyouenView input#reset_button {
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1.2em;
	font-weight: bold;
}

/*
 * ダイアログ
 */
div#dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	background: #eee;
	text-align: center;
	border: 3px solid #333;
	color: #333;
	font-size: 2em;
	height: 200px;
	line-height: 100px;
}
label {
	font-size: 70%;
}

div#notification {
	position: fixed;
	top: 15%;
	right: 0;
	background: #eee;
	background: rgba(238, 238, 238, 0.6);
	border-top: 2px solid #333;
	border-left: 2px solid #333;
	border-bottom: 2px solid #333;
	text-align: right;
	padding-right: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
