@charset "utf-8";

article#main {
	margin: 10px;
}

article#main section {
	margin-top: 20px;
	margin-bottom: 20px;
}

section.content {
	width: 350px;
	margin: 10px;
	padding: 5px;
	border: solid 1px #eee;
	float: left;
}

section.content>h2 {
	font-size: 1.2em;
	color: #004C9A;
	text-decoration: underline;
	margin: 10px;
}

section.content>.item {
	border-top: solid 1px #eee;
	padding: 3px;
}

section.content .date {
	font-size: 0.7em;
	text-align: right;
}

section#recent_regist .creator {
	font-size: 0.9em;
	text-align: right;
}