@charset "utf-8";

article.summary {
	border: solid 1px #eee;
	padding: 10px;
	width: 760px;
}

article.summary>h1 {
	font-size: 1.5em;
}

article.summary>#ranking>table {
	border-top: 1px solid #a5eff8;
	border-right: 1px solid #a5eff8;
	margin-top: 1em;
	border-collapse: collapse;
}
article.summary>#ranking>table tr>th {
	background-color: #A0C9DB;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom: 1px solid #a5eff8;
	border-left: 1px solid #a5eff8;
}
article.summary>#ranking>table tr>td {
	font-size: 1.2em;
	border-bottom: 1px solid #a5eff8;
	border-left: 1px solid #a5eff8;
	background-color: #f4f9fe;
}
article.summary>#ranking>table tr>td.order {
	width: 50px;
	text-align: center;
}
article.summary>#ranking>table tr>td.image {
	border-right: 0px;
	width: 54px;
	padding-top: 2px;
	padding-left: 4px;
}
article.summary>#ranking>table tr>td.name {
	width: 200px;
	text-align: left;
	border-left: 0px;
}
article.summary>#ranking>table tr>td.count {
	width: 70px;
	text-align: center;
}
