extends _layout

block title
  | 共円

block content
  <!-- メインコンテンツ -->
  .container
    .jumbotron
      h1 共円
      p
        | 共円とは、４つの石を通る円のことです。
        br
        | このページでは、盤上に置かれた石から共円を指摘する、「詰め共円」が多数登録されています。
        br
        | ステージ一覧は
        a.btn.btn-mini.btn-success(href="/html/list.html") こちら »
      p
        | ログインすることでクリアしたステージ情報が保存出来ます。
        br
        a.btn.btn-primary.btn-large(href="/page/login") Sign in with twitter »
    .row
      .col-md-6
        h2 最新の登録
        recent-stages
      .col-md-6
        h2 アクティビティ
        .panel.panel-default
          .panel-heading
            a.accordion-toggle(data-toggle="collapse" href="#collapse")
              img(src="image" width="25" height="25")
              | screenName が act ステージをクリアしました
          #collapse.panel-collapse.collapse
            .panel-body
              .act_content
                a(href="a.stage.stageNo") STAGE: a.stage.stageNo
                | をクリアしました
              .date.text-right a.clearDate
      .span1
